[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
langchain = "*"
langchain-pinecone = "*"
langchain-openai = "*"
pinecone-client = "==3.0.0"
langchain-experimental = "*"
jupyter = "*"
unstructured = {extras = ["pdf"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
